body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

h1 {
    color: white;
    padding: 0px 10px 0px 10px;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    text-align: center;
}

.box-section {
    display: flex; 
    justify-content: center;
}

#number-total {
    background-color: gray;
    border: 5px black solid;
    height: 75px;
    width: 150px;
}

div {
    border: 5px lightgray solid;
    background-color: lightgray;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

div:hover {
    cursor: pointer;
}

#bottom-section {
    display: flex;
    justify-content: center;
}

#rules {
    color: white;
}

button {
    margin-left: 5px;
}

@media only screen and (max-width: 900px){
    div {
        height: 45px;
        width: 45px;
    }
}
@media only screen and (max-width: 600px){
    h1 {
        font-size: 2.5rem;
    }
    div {
        height: 40px;
        width: 40px;
    }
}
@media only screen and (max-width: 500px){
    div {
        height: 30px;
        width: 30px;
    }
}
@media only screen and (max-width: 400px){
    div {
        height: 25px;
        width: 25px;
    }
}
@media only screen and (max-width: 400px){
    div {
        height: 25px;
        width: 25px;
    }
}
@media only screen and (max-width: 350px){
    div {
        height: 20px;
        width: 20px;
    }
}
@media only screen and (max-width: 300px){
    div {
        height: 15px;
        width: 15px;
    }
}

